<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h1>Your Shortern URL</h1>
        <% if(locals.id){ %>
            <p>Short URL is: <a href="http://localhost:8000/get/<%= locals.id %>">http://localhost:8000/get/<%=
                        locals.id %></a></p>
            <% } %>
    </div>
</body>

</html>