<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        input {
            padding: 10px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <h1>URl shortner</h1>

        <form METHOD="POST" action="/url">
            <input type="text" name="redirectUrl" placeholder="https://example.com">
            <button type="submit">Shorten</button>
        </form>

    </div>
</body>

</html>